@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  font-family: "Montserrat", sans-serif;
}
sub {
  font-size: medium;
}
.dp-image {
  border-radius: 100px;
}
.border-radius {
  border-radius: 20px;
}
.bg-lightGrey {
  background-color: #f3f3f3;
}
.font-weight-bold {
  padding-top: 1px;
  padding-bottom: 0px;
}
.language-container {
  background-color: white;
  width: 50%;
  padding: 1.5rem;
}
.padding {
  padding: 20px;
}
.web-dev {
  font-weight: bolder;
  padding: 10px;
}
.bg-white {
  background-color: white;
}
.submit-button {
  display: block;
  width: 30%;
}
.position-fixed {
  position: fixed;
}
